Tools/CatalystEngineProjectGenerator/.vs/*
Tools/CatalystEngineProjectGenerator/CatalystEngineProjectGenerator/Debug/*
Tools/CatalystEngineProjectGenerator/CatalystEngineProjectGenerator/Release/*
Tools/CatalystEngineProjectGenerator/CatalystEngineProjectGenerator/x64/* 

Tools/Catalyst Engine Toolbox/Visual Studio Solution/*
!Tools/Catalyst Engine Toolbox/Visual Studio Solution/Catalyst Engine Toolbox.sln
!Tools/Catalyst Engine Toolbox/Visual Studio Solution/Catalyst Engine Toolbox.vcxproj
!Tools/Catalyst Engine Toolbox/Visual Studio Solution/Catalyst Engine Toolbox.vcxproj.filters
!Tools/Catalyst Engine Toolbox/Visual Studio Solution/Catalyst Engine Toolbox.vcxproj.user