Tools/Resource Creator/Visual Studio Solution/Resource Creator/.vs/*
Tools/Resource Creator/Visual Studio Solution/Resource Creator/x64/*
Tools/Resource Creator/Visual Studio Solution/Resource Creator/Resource Creator/x64/*

Game/Clairvoyant/Visual Studio Solution/Clairvoyant/.vs/*
Game/Clairvoyant/Visual Studio Solution/Clairvoyant/x64/*
Game/Clairvoyant/Visual Studio Solution/Clairvoyant/Clairvoyant/x64/*

*.cpm
*.ctm
